@tailwind base;
@tailwind components;
@tailwind utilities;



.mobileXscroll::-webkit-scrollbar {
    display: none;
  }


.w-safearea{
    width: 322px !important;
}



.default-bg{
    background: url('https://cdn.neowin.com/news/images/galleries/4685/1654590747_macos_ventura_wallpaper_light.jpg');
    background-size: cover;
}